:root {
  --dark-blue: #1c1e53;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* ====================================
    Navbar Start
======================================= */
nav {
  height: 100px;
  background-color: #1c1e53;
}
/* ====================================
    Navbar End
======================================= */
