<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finsweet</title>

    <!----------------------- Google Fonts Start ------------------>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!----------------------- Google Fonts End ------------------>

    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/script.js" defer></script>
  </head>
  <body>
    <!--===============================================================
                        Navbar Start
        ===============================================================-->
    <nav>
      <div class="container">
        <div class="flex">
          <div class="logo">
            <h1>{finsweet</h1>
          </div>
          <div class="nav-items">
            <ul>
              <li>Home</li>
              <li>About Us</li>
              <li>Features</li>
              <li>Pricing</li>
              <li>FAQ</li>
              <li>Blog</li>
            </ul>
            <a class="btn">Contact Us</a>
          </div>
        </div>
      </div>
    </nav>
    <!--===============================================================
                        Navbar End
        ===============================================================-->

    <!--===============================================================
                        Banner Start
        ===============================================================-->

    <section class="banner">
      <div class="container">
        <div class="flex">
          <div class="text">
            <h1>Building stellar websites for early startups</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </p>
            <a class="work" href="#">View our work</a>
            <a class="pricing" href="#"
              >View pricing
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
          <div class="img">
            <img src="./assets/images/Illustration.svg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!--===============================================================
                        Banner End
        ===============================================================-->

    <!--===============================================================
                        Work Start
        ===============================================================-->
    <section class="work">
      <div class="container">
        <div class="flex">
          <div class="left">
            <div class="title">
              <h2>How we work</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor.
              </p>
              <a href="#"
                >Get in touch
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
          <div class="right">
            <div class="worklist">
              <img src="./assets/images/work_image-1.png" alt="" />
              <h3>Strategy</h3>
              <p>
                Euismod faucibus turpis eu gravida mi. Pellentesque et velit
                aliquam .
              </p>
            </div>

            <div class="worklist">
              <img src="./assets/images/work_image-1.png" alt="" />
              <h3>Strategy</h3>
              <p>
                Euismod faucibus turpis eu gravida mi. Pellentesque et velit
                aliquam .
              </p>
            </div>
            <div class="worklist">
              <img src="./assets/images/work_image-1.png" alt="" />
              <h3>Strategy</h3>
              <p>
                Euismod faucibus turpis eu gravida mi. Pellentesque et velit
                aliquam .
              </p>
            </div>
            <div class="worklist">
              <img src="./assets/images/work_image-1.png" alt="" />
              <h3>Strategy</h3>
              <p>
                Euismod faucibus turpis eu gravida mi. Pellentesque et velit
                aliquam .
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--===============================================================
                        Work End
        ===============================================================-->
    <!--===============================================================
                        Project Start
        ===============================================================-->
    <section class="project">
      <div class="container">
        <div class="title">
          <h2>View our projects</h2>
          <a href="#"
            >View more <i class="fa fa-long-arrow-right" aria-hidden="true"></i
          ></a>
        </div>
        <div class="flex">
          <div class="left">
            <!-- TODO: Add project image -->
            <img src="./assets/images/work_image-1.png" alt="" />
            <div class="text-box">
              <div class="details">
                <h4>WorkHub Office Webflow Webflow Design</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ullam, quae?
                </p>
              </div>
            </div>
          </div>
          <right>right</right>
        </div>
      </div>
    </section>
    <!--===============================================================
                        Project End
        ===============================================================-->
  </body>
</html>
